/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    margin-left: -20px;
}
/*
 * Global add-ons
 */
.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}
/*
 * Sidebar
 */

@media (min-width: 768px) {
    .sidebar {
        width: 180px;
        position: fixed;
        top: 51px;
        bottom: 0;
        left: -10px;
        right: 10px;
        z-index: 1000;
        display: block;
        overflow: auto;
        background-color: #0B1047;
        border-right: 1px solid #000;
    }
}

.panel-group{
    padding-top: 10px;
    background-color: #0B1047;
}
.panel-collapse .collapse{
    color: #0B1047;
    border-bottom-color: black;
}
li{
    padding-left: 10px;
    font-size: 18px; 
    margin-right: -2px;
    margin-left:  -2px;
    text-align: left;
}
li:hover{
    font-size: 18px; 
    margin-right: -2px;
    margin-left:  -2px;
    background-color: gray;
    transition: all 0.3s;
}
.panel-collapse li a:hover{
    padding-top: 5px;
    font-size: 18px; 
    color: #fff;  
}
.panel-heading:hover{
    background-color: #282828;
    transition: all 0.3s;
}
a{
    color: black;
    transition: all 0.3s;
    font-weight: bold;
}
a:hover{
    color: white;
    transition: all 0.3s;
    font-weight: bold;
}
.container {
    position: relative;
    width: 100%;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: -100%;
    right:0;
    background-color: #282828;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;

}

.container:hover .overlay {
    width: 100%;
    left: 0;
}

.text {
    color: white;
    font-family: 'Ubuntu';
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    white-space: nowrap;
}
.tituloindex1 {
    background-color: #282828;    
    padding: 10px;
}
.tituloindex1 center a{
    color: #fff;  
    padding: 10px;
    font-size: 20px;
    transition: 0.3s all;
}
.tituloindex1 center a:hover{
    color: yellow;  
    padding: 10px;
    font-size: 22px;
    transition: 0.3s all;
}
.tituloindex2 {
    background-color: #282828;    
    padding: 10px;
}
.tituloindex2 center a{
    color: #fff;  
    padding: 10px;
    font-size: 20px;
    transition: 0.3s all;
}
.tituloindex2 center a:hover{
    color: #66afe9;  
    padding: 10px;
    font-size: 22px;
    transition: 0.3s all;
}
.tituloindex3 {
    background-color: #282828;    
    padding: 10px;
}
.tituloindex3 center a{
    color: #fff;  
    padding: 10px;
    font-size: 20px;
    transition: 0.3s all;
}
.tituloindex3 center a:hover{
    color: #d9534f;  
    padding: 10px;
    font-size: 22px;
    transition: 0.3s all;
}

.container1 {
    position: relative;
    width: 100%;
}

.overlay1{
    position: absolute;
    bottom: 0;
    left: -100%;
    right:0;
    background-color: #ffff00;
    overflow: hidden;
    width: 0;
    height: 18%;
    transition: .5s ease;

}
.container1:hover .overlay1 {
    width: 100%;
    left: 0;
}
.textcompetencia1{
    font-size: 20px;
    color: #000;
}
.textcompetencia1:hover{
    font-size: 22px;
    color: #000;
}



.container2 {
    position: relative;
    width: 100%;
}

.overlay2{
    position: absolute;
    bottom: 0;
    left: 0;
    right:0;
    background-color: #66afe9;
    overflow: hidden;
    width: 0;
    height: 18%;
    transition: .5s ease;

}
.container2:hover .overlay2 {
    width: 100%;
    left: 0;
}
.textcompetencia2{
    font-size: 20px;
    color: #000;
}
.textcompetencia2:hover{
    font-size: 22px;
    color: #000;
}



.container3 {
    position: relative;
    width: 100%;
}

.overlay3{
    position: absolute;
    bottom: 0;
    left: 100%;
    right:0;
    background-color: #d9534f;
    overflow: hidden;
    width: 0;
    height: 18%;
    transition: .5s ease;

}
.container3:hover .overlay3 {
    width: 100%;
    left: 0;
}
.textcompetencia3{
    font-size: 20px;
    color: #000;
}
.textcompetencia3:hover{
    font-size: 22px;
    color: #000;
}
h2{
    font-family: 'Ubuntu';
}
.btnreg{
    color: whitesmoke;
    transition: all 0.3s;
    font-weight: bold;
}
.btnreg:hover{
    color: blue;
    transition: all 0.3s;
    font-weight: bold;
}
.lireg{
    padding-left: 10px;
    font-size: 18px; 
    margin-right: -2px;
    margin-left:  -2px;
    text-align: left;
}
.lireg:hover{
    font-size: 18px; 
    margin-right: -2px;
    margin-left:  -2px;
    background-color: whitesmoke;
    transition: all 0.3s;
}
.vinetatitulo:hover{
    transform: rotate(90deg);
    transition: 0.3s all;
}
.vinetatitulo{
    transition: 0.3s all;
}
.titulotema{
    transition: 0.3s all;
}
.titulotema:hover{
    background-color: #ffdcd3;
    transition: 0.3s all;
}
.subtitulotema{
    transition: 0.3s all;
}
.subtitulotema:hover{
    background-color: #d7d7d9;
    transition: 0.3s all;
}
